name: Deploy database migrations

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - relay/migrations/**
      - ansible/playbooks/relay/db.yaml
      - ./github/workflows/deploy_relay_database_migrations.yaml
    
concurrency:
  group: relay

jobs:
  deploy:
    uses: ./.github/workflows/run_ansible.yaml
    with:
      command: uv run ansible-playbook -i ansible/inventory.yaml ansible/playbooks/relay/db.yaml
    secrets: inherit