name: Deploy reverse SSH tunnel

on: workflow_dispatch

jobs:
  deploy:
    uses: ./.github/workflows/run_ansible.yaml
    with:
      command: uv run ansible-playbook -i ansible/inventory.yaml ansible/playbooks/pi/reverse_ssh_tunnel.yaml
    secrets: inherit